/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('../images/1.jpg');
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
    width: 100%;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

#leaderBoard {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlight {
    background-color: yellow;
}

/* -------------------  TABLET  --------------------- */
@media (max-width: 768px) {
    main#two-columns {
        flex-direction: column;
    }
    main#two-columns section {
        flex: 1;
    }
}
